@font-face {
    font-family: Pixies;
    src: url(/src/assets/font/Gamepixies-8MO6n.ttf);
}
@font-face {
    font-family: PixTitle;
    src: url(/src/assets/font/PixelEmulator-xq08.ttf);
}

$font-primary: Pixies;
$font-title: PixTitle;

$bg-primary: #3309a0;
$bg-blue: #310e8b;
$bg-purple: #851da6;
